.loginPage{
    height: 100vh;
    background: #f8f6f6;
    position: relative;
}
.loginPageLogo{
    margin-top: 0;
    cursor: pointer;
}
.window{
    position: absolute;
    width: 440px;
    height: 460px;
    padding: 3rem;
    background: white;
    border-radius: 0;
    margin-top: 80px;
    margin-left: 450px;
    box-shadow: 0 0 8px;
}
.inputWindow{
    margin-left: 30px;
}

.window input{
    margin-top: 10px;
    width: 270px;
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    position: center;
    border-color: #3cc;
    border-radius: 10px;
    outline: none;
}
.window a{
    font-weight: bold;
    margin-top: 20px;
}

.btns{
    margin-top: 30px;
    background-color: #3cc;
    color: white;
    padding: .5rem;
    width: 120px;
    border: none;
    border-radius: 10px;
}
.btns:nth-child(2){
    margin-left: 30px;
}
.seePassword{
    position: relative;
    margin-left: -47px;
    margin-bottom: 18px;
    font-family: Arial;
}